
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, "Times New Roman", serif;
}

main {
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}

h1 {
    color: navy;
    alignment: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: red;
}

a:visited {
    color: orange;
}

a:hover {
    background-color: greenyellow;
}

ol {
    color: chocolate;
}

li.cs {
    color: crimson;
}

li.tm {
    color: blueviolet;
}

li {
    color: cornflowerblue;
}

iframe {
    border-width: 0;
}

.center-link {
    text-align: center;
    padding: 15px 15px 15px 15px;
    width: max-content;
    margin: auto;
    border-radius: 10px;
    border: solid crimson;
}

.title {

    margin: auto;
    width: 80%;
    text-align: center;
    background-color: lightblue;
    border-radius: 20px;
    opacity: 0.8;
}


#nom {
    text-decoration: underline;
}

ol li {
    list-style: lower-greek;
}

.gras {
    color: dodgerblue;
    font-weight: bold;
}

.index {
    background-color: salmon;
    display: none;
}


table {
    border-collapse: collapse;
    //background-color: sandybrown;
    width: 75%;
    text-align: center;
}

table td {
    border: 1px solid black;
}

table td .answer-box {
}

.flexbox {
    display: flex;
    width: 100%;
    margin: auto;
}

.one {
    width: 10%;
    align-self: center;
}

.two {
    width: 40%;
    text-align: center;
    align-self: center;

}

.three {
    width: 10%;
    align-self: center;
}

.four {
    flex: auto;
    margin-left: auto;
    margin-bottom: auto;
    align-self: center;
    width: 40%;
}

.centred-map {
    background-size: cover;
    display: block;
    margin: auto;
    width: 600px;
}

.competence-table table{
    margin: auto;
    text-align: center;
}

.competence-table table thead, .language-name {
    font-weight: bold;
}

.competence-table table .answered {
    background-color: lightgreen;
}

.competence-table table .answer-box:not(.answered)  {
     background-color: lightcoral;

 }